<h1><%= @survey.title %></h1>


<form action="/surveys/edit/<%= @survey.id %>" method="post">
  <label for="title">Title: </label>
  <input type="text" id="title" name="survey[title]" value="<%= @survey.title%>">

  <select id="category" name="survey[category]">
    <option value="Customer Satisfaction" <%= selected("Customer Satisfaction") %>>Customer Satisfaction</option>
    <option value="Product" <%= selected("Product") %>>Product</option>
    <option value="Course" <%= selected("Course") %>>Course</option>
    <option value="Political" <%= selected("Political") %>>Political</option>
    <option value="Other" <%= selected("Other") %>>Other</option>
  </select>
  <input type="submit" id="survey_submit" value="Edit Survey">

</form>


<a class="button" href="/question/new/<%= @survey.id %>">Add Question</a>

<ul>
  <% @questions.each do |question| %>
    <li><%= question.prompt %></li>
  <% end %>
</ul>

<form action="/surveys/delete" method="post">
  <input type="submit" id="delete_submit" value="Delete Survey" class="button alert">
  <input type="hidden" name="survey_id" value="<%= @survey.id%>">
</form>

<script>
  var cat = $("#hidden-category").attr("value");
  console.log(cat);
  var option = $("#category").find("option");
  console.log(option);

</script>
